{% extends 'base.html.twig' %}

{% block title %}Espace Membre !{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i>Dashboard</a>
                            </li>
                            {#
                            <li class="nav-item">
                                <a class="nav-link" id="orders-tab" data-toggle="tab" href="{{ path('app_forgot_password_request') }}" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>Modifier mon mot de passe</a>
                            </li>
                            #}

                            <li class="nav-item">
                                <a class="nav-link" id="document-tab" data-toggle="tab" href="#document" role="tab" aria-controls="document" aria-selected="true"><i class="ti-location-pin"></i>Mes Documents</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true"><i class="ti-location-pin"></i>Mes News </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="movies-tab" data-toggle="tab" href="#movies" role="tab" aria-controls="movies" aria-selected="true"><i class="ti-location-pin"></i>Mes Videos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-detail-tab" data-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Modifier mon mot de passe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout')}}"><i class="ti-lock"></i>Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">

                    <div class="alert alert-success alert-dismissible fade show" role="alert"> message flash
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Bienvenue {{ app.user.firstname }} {{ app.user.lastname | upper }}</h3>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <small><a href="/admin">Vous êtes l'administrateur, accéder au backoffice</a></small><br/>
                                    {% endif %}

                                </div>
                                <div class="card-body">

                                    <p>Ici vous pouvez gérer <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">documents</a> <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')"></a> et <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">Modifier votre mot de passe</a></p>
                                </div>
                            </div>
                        </div>

                        <!--Pour gérer les documents-->
                        <div class="tab-pane fade" id="document" role="tabpanel" aria-labelledby="document-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="{{ path('documenttype_new') }}" class="btn btn-fill-out mb-3">Add document</a>
                                </div>
                            </div>
                            <div class="row">

                            {% if app.user.documenttypes %}
                                {% set index = 0 %}
                                {% for doc in app.user.documenttypes %}
                                    {% set index = index + 1 %}
                                <div class="col-lg-6">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3> Your document </h3>
                                        </div>
                                        <div class="card-body">
                                            <document> Article N°{{ index }}<br>
                                                Title: {{ doc.title }}<br>
                                                Resume: {{ doc.resume }}<br>
                                                Publié le {{ doc.createdAt | date("d/m/Y")}}<br>

                                                Auteur(s) :
                                                {% set authors = doc.author %}
                                                {% set chaine = "" %}
                                                {% for author in authors %}
                                                    {% set chaine = chaine ~ author.getFullName %}
                                                    {% set chaine = chaine ~ ', ' %}
                                                {% endfor %}
                                                {{ chaine }}

                                            </document>
                                            <div class="btn-group">
                                                <a href="{{ path('documenttype_edit', {'id':doc.id}) }}" class="btn btn-success">Edit</a>
                                                <a href="{{ path('documenttype_delete',{'id':doc.id}) }}" class="btn btn-success">Delete</a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p>Sorry you haven't added an document to your account yet !</p>
                                {% endif %}

                            </div>
                        </div>
                        <!--Pour gérer les news -->
                        <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="{{ path('news_new') }}" class="btn btn-fill-out mb-3">Add news</a>
                                </div>
                            </div>
                            <div class="row">

                                {% if app.user.newstypes %}
                                    {% set index = 0 %}
                                    {% for new in app.user.newstypes %}
                                        {% set index = index + 1 %}
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h3> Your news </h3>
                                                </div>
                                                <div class="card-body">
                                                    <news> News N°{{ index }}<br>
                                                        Title: {{ new.title }}<br>
                                                        Resume: {{ new.resume }}<br>
                                                          Du {{ new.startCreatedAt | date("d/m/Y")}} au {{ new.endCreatedAt | date("d/m/Y")}}<br>
                                                        Par: {{ app.user.firstname  }} {{ app.user.lastname  }}

                                                    </news>
                                                    <div class="btn-group">
                                                        <a href="{{ path('news_edit', {'id':new.id}) }}" class="btn btn-success">Edit</a>
                                                        <a href="{{ path('news_delete',{'id':new.id}) }}" class="btn btn-success">Delete</a>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Sorry you haven't added an document to your account yet !</p>
                                {% endif %}

                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Vos informations</h3>
                                </div>
                                <div class="card-body">

                                    <form method="post" name="enq">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Prénom <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.firstname }}" class="form-control" name="name" type="text">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Nom <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.lastname }}" class="form-control" name="phone">
                                            </div>

                                            <div class="form-group col-md-12">
                                                <label>Email <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.email }}" class="form-control" name="email" type="email">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Mot de passe <span class="required">*</span></label>
                                                <input required="" class="form-control" name="password" type="password">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Nouveau Mot de passe <span class="required">*</span></label>
                                                <input required="" class="form-control" name="npassword" type="password">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Confirmez Mot de passe <span class="required">*</span></label>
                                                <input required="" class="form-control" name="cpassword" type="password">
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
