{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block carousel %}{% endblock %}

{% block body %}
    <hr class="featurette-divider">

    <h3>Les derniers articles</h3>

    <div class="row">
        {% for document in documents %}
            <div class="col-md-3">
                <div class="new-item text-center">

                   {#  <a href="{{ path('showDocument', {'id':document.id}) }}"><img class="card-img-top" src="/uploads/{{ document.picture }} " alt="{{ document.title }}"  class="img-fluid"/></a> <a href="{{ path('showDocument', {'id':document.id}) }}"><img class="card-img-top" src="/uploads/{{ document.picture | imagine_filter('miniature') }} " alt="{{ document.title }}"  class="img-fluid"/></a> <a href="{{ path('showDocument', {'id':document.id}) }}"><img class="card-img-top" src="/uploads/{{ document.picture | imagine_filter('miniature') }} " alt="{{ document.title }}"  class="img-fluid"/></a>#}
                    <a href="{{ path('showDocument', {'id':document.id}) }}"><img class="card-img-top" src="{{ vich_uploader_asset(document, 'imageFile')| imagine_filter('miniature')}}" alt="{{ document.title }}" /></a>
                    <a href="{{ path('showDocument', {'id':document.id}) }}"><h5 class="card-title">{{ document.title }}</h5></a>
                    <span class="new-subtitle">Publié le {{ document.createdAt | date("d/m/Y")}}</span>
                    <span class="new-date">
                        Auteur(s) :
                              {% set authors = document.author %}
                        {% set chaine = "" %}
                        {% for author in authors %}
                            {% set chaine = chaine ~ author.getFullName %}
                            {% set chaine = chaine ~ ', ' %}
                        {% endfor %}
                        {{ chaine }}
                    </span>

                </div>
            </div>
        {% endfor %}

    </div><!-- /.row -->
    <div>
        <span><a href="{{ path('show_article') }}" >Liste des articles</a></span>
    </div>
    <hr class="featurette-divider">

    <h3>Les dernières nouvelles</h3>

    <div class="row">
        {% for new in news %}
            <div class="col-md-3">
                <div class="new-item text-center">
                   {#  <img class="card-img-top" src="/uploads/{{ document.picture }}" alt="{{ document.title }}"  class="img-fluid"/>#}
                    <a href="{{ path('showNews', {'id':new.id}) }}" ><h5 class="card-title">{{ new.title }}</h5></a>
                    <span class="new-subtitle">Publié le {{ new.createdAt | date("d/m/Y")}}</span>
                    {# <span class="new-date">


                            {% if new.startCreatedAt and new.endCreatedAt %}
                                <p class="date"> Du {{ new.startCreatedAt | date("d/m/Y") }}
                                  Au {{ new.endCreatedAt | date("d/m/Y") }} </p>
                            {% endif %}
                    </span>
                    #}
                    {# <span> <a href="{{ path('showNews', {'id':new.id}) }}" >En savoir plus</a></span> #}

                </div>

            </div>
        {% endfor %}
        <div>
            <span><a href="{{ path('show_nouvelle') }}" >Voir toutes les nouvelles</a></span>
        </div>
    </div><!-- /.row -->

    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-6">
            <h5>Evénement à venir...</h5>
          <div class="card">
              <div class="card-body">
                  {% for event in events %}
                      <div class="new-item text-center">
                          <!--rendre l'image cliquable et redirection vers le detail du produit via son slug-->
                          {#  <img class="card-img-top" src="/uploads/{{ document.picture }}" alt="{{ document.title }}"  class="img-fluid"/>#}

                          {#  <span class="new-subtitle">Publié le {{ event.createdAt | date("d/m/Y")}}</span>#}
                          <span class="new-date">


                            {% if event.startCreatedAt and event.endCreatedAt %}
                                <p class="date"> Du {{ event.startCreatedAt | date("d/m/Y") }}
                                  Au {{ event.endCreatedAt | date("d/m/Y") }} </p>
                            {% endif %}

                    </span>
                          {#    <span> <a href="{{ path('showNews', {'id':event.id}) }}" class="btn btn-primary">En savoir plus</a></span> #}
                          <a href="{{ path('showNews', {'id':event.id}) }}"><h5 class="card-title">{{ event.title }}</h5></a>
                      </div>


                  {% endfor %}
                  <div>
                      <span><a href="{{ path('show_evenement') }}" >Voir tous les événements</a></span>
                  </div>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
            <h5>Séminaire à venir...</h5>
           <div class="card">
               <div class="card-body">
                   {% for seminar in seminars %}
                       <div class="new-item text-center">
                           <!--rendre l'image cliquable et redirection vers le detail du produit via son slug-->
                           {#  <img class="card-img-top" src="/uploads/{{ document.picture }}" alt="{{ document.title }}"  class="img-fluid"/>#}

                          {#  <span class="new-subtitle">Publié le {{ seminar.createdAt | date("d/m/Y")}}</span>#}
                           <span class="new-date">


                            {% if seminar.startCreatedAt and seminar.endCreatedAt %}
                                <p class="date"> Du {{ seminar.startCreatedAt | date("d/m/Y") }}
                                  Au {{ seminar.endCreatedAt | date("d/m/Y") }} </p>
                            {% endif %}
                    </span>
                          {#  <span> <a href="{{ path('showNews', {'id':seminar.id}) }}" class="btn btn-primary">En savoir plus</a></span> #}
                           <a href="{{ path('showNews', {'id':seminar.id}) }}"><h5 class="card-title">{{ seminar.title }}</h5></a>
                       </div>

                   {% endfor %}
                   <div>
                       <span><a href="{{ path('show_seminaire') }}" >Voir tous les séminaires</a></span>
                   </div>
               </div>
           </div>
        </div>
    </div>
    <hr class="featurette-divider">


  {#

  <h1>Ici vous êtes sur la page d'accueil</h1>
      <!--Affichage des articles sur le page d'accueil-->

      {% for message in app.flashes('confirm') %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}

      {% for message in app.flashes('success') %}
          <div class="alert alert-success" role="alert">{{ message }}</div>




      <div class="row">
          <div class="col-md-8">
              <div class="row">
                  {% for document in documents %}
                      <div class="card col-md-4" style="width: 18rem;">

                          <img class="card-img-top" src="/uploads/{{ document.picture }}" alt="{{ document.title }}">
                          <div class="card-body">
                              <h5 class="card-title">{{ document.title }}</h5>
                              <p class="date">Publié le {{ document.createdAt | date("d/m/Y")}}</p>

                              Auteur(s) :
                              {% set authors = document.author %}
                              {% set chaine = "" %}
                              {% for author in authors %}
                                  {% set chaine = chaine ~ author.getFullName %}
                                  {% set chaine = chaine ~ ', ' %}
                              {% endfor %}
                              {{ chaine }}


                              <a href="{{ path('showDocument', {'id':document.id}) }}" class="btn btn-primary">En savoir plus</a>
                          </div>
                      </div>
                  {% endfor %}

                  {% for new in news %}
                      <div class="card col-md-4" style="width: 18rem;">

                         {#  <img class="card-img-top" src="/uploads/{{ new.picture }}" alt="{{ new.title }}">#}
    {#<div class="card-body">
                            <h5 class="card-title">{{ new.title }}</h5>
                            <p class="date">Publié le {{ new.createdAt | date("d/m/Y")}}</p>

                            Auteurs :

                            {% if new.startCreatedAt and new.endCreatedAt %}
                              <p class="date"> Du {{ new.startCreatedAt | date("d/m/Y") }}
                                  Au {{ new.endCreatedAt | date("d/m/Y") }} </p>
                            {% endif %}

                            <a href="{{ path('showNews', {'id':new.id}) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>#}


<!--Affichage des catégories -->

        {#
        <div class="col-md-4">
            <h2>Documents</h2>

            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ path('show_documenttype', {'id':category.id}) }}">

                     {{ category.name }}

                    <span class="badge bg-primary rounded-pill">{{ pluralize(category.documenttypes | length, 'document')}}</span>
                    </a>
                </li>
                {% endfor %}

            </ul>

            <h2>News</h2>

            <ul class="list-group">
                {% for cat in categoryNews %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('show_newstype', {'id':cat.id}) }}">

                            {{ cat.name }}

                            <span class="badge bg-primary rounded-pill">{{ pluralize(cat.newstypes | length, 'news')}}</span>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>

    </div>
{% endblock %}
        #}
{% endblock %}
