{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{# {% block carousel %}{% endblock %} #}

{% block body %}

    {#
    <hr class="featurette-divider">

<div class="corps" style="background-color: skyblue">
   <div class="row">
       <div class="col-sm-8">
           <h1 class= "apropos" style="position: center;">A propos</h1>
           <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu neque ac diam tempus sollicitudin non ut diam. Aenean condimentum, sapien hendrerit faucibus malesuada, est ex cursus lectus, ut lacinia massa nulla at lacus. Vestibulum facilisis pellentesque libero, eu semper orci porttitor eu. Aenean tristique diam eget tortor vehicula vulputate. Ut congue diam a metus condimentum, ac cursus tortor dapibus. Praesent lobortis, dui id facilisis laoreet, tortor tellus interdum sem, ac egestas arcu dolor ac justo. Fusce vel sodales enim. Pellentesque ac ligula tincidunt, pellentesque tellus in, rhoncus urna. Nulla et magna ex. Nulla facilisi. Aenean dignissim dui nulla, a pellentesque quam dignissim ac. Donec ullamcorper, diam id laoreet volutpat, sapien orci pretium risus, a tincidunt urna odio ut magna. Aliquam at posuere ipsum, ut pharetra nisl.

               Proin quis libero a nunc blandit gravida id eu sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sem libero, fermentum id luctus ac, aliquet quis lorem. In volutpat magna eget egestas tincidunt. Donec odio elit, tincidunt et condimentum ac, ornare ac arcu. Fusce fermentum quam eget orci pharetra, convallis condimentum velit lobortis. Vestibulum a metus semper, luctus diam et, viverra magna. Nunc nec varius quam. Praesent sodales tincidunt consectetur.

               Cras vitae mattis augue. Sed vel nulla in enim tempus suscipit eu in magna. Phasellus mattis mi at tempus iaculis. Phasellus vitae orci iaculis, suscipit dui ut, ultrices sem. Donec justo turpis, blandit ut consequat id, porttitor tincidunt dolor. Sed tincidunt rutrum ex ac posuere. Vestibulum et diam pharetra, iaculis velit non, congue dolor. Ut aliquet sed lacus consectetur fringilla. Ut convallis libero sed lacus tempor, eu blandit felis hendrerit. In vestibulum tincidunt rutrum.

               Fusce purus metus, pulvinar nec leo nec, feugiat convallis urna. Maecenas non nunc eu metus consectetur dictum a a nibh. Duis in erat elit. Etiam vel augue eget tortor finibus facilisis. Cras eget diam vel magna fermentum consectetur vel non ex. Aenean felis enim, ultrices eu lorem sed, scelerisque venenatis magna. Praesent ultrices enim in pellentesque tempor. Vestibulum ut lorem ultricies, bibendum velit a, volutpat libero.

               Nunc accumsan magna id porta consectetur. Donec egestas dignissim velit ac varius. Cras a leo ut enim ultrices efficitur nec ullamcorper lorem. Suspendisse potenti. Nullam molestie velit non mauris iaculis, euismod accumsan ante tristique. Phasellus tincidunt, tellus in condimentum ullamcorper,
               ex magna placerat lorem, quis consequat dolor dolor ac dui. Aliquam viverra est eget odio ornare,
               nec elementum urna interdum. Ut scelerisque lorem et lacus finibus, vitae euismod neque vehicula.
               Cras tincidunt justo nec urna lobortis accumsan ac nec erat.
               Quisque gravida nulla nec lectus tincidunt, ut imperdiet nibh gravida.
               Aliquam mollis ex vulputate, mollis nulla quis, molestie nulla.</p>
       </div>
       <div class="col-sm-4">

           <h3 style="font-style: italic">Les dernières nouvelles</h3>
           <div class="container bootstrap snippets bootdey">
               {% for new in news %}
               <div class="row">

                   <div class="widget single-news">
                       <div class="image">
                           <img src="{{ asset('/uploads/news-fond.jpg')}}"  alt="{{ new.title }}" class="img-responsive">
                           <span class="gradient"></span>
                       </div>
                       <div class="details">
                           <div class="category"><a href="">News</a></div>
                           <h3><a href="{{ path('showNews', {'id':new.id}) }}">{{ new.title }}</a></h3>
                           <time>Today, 18 August</time>
                       </div>
                   </div>
               </div>
               {% endfor %}

               <div class="row">
                   <span><a href="{{ path('show_nouvelle') }}" style="font-style: italic" >Voir toutes les nouvelles</a></span>
               </div>

           </div>
       </div>



    <hr class="featurette-divider">



    <h3 style="font-style: italic">Les derniers articles</h3>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            {% for document in documents %}
        <div class="col-sm-3">
            <div class="widget single-news">
                <div class="image">
                    <a href="{{ path('showDocument', {'id':document.id}) }}">
                        <img src="{{ asset('/uploads/font.jpg')}}"  alt="{{ document.title }}" class="img-responsive">
                    </a>


                    <span class="gradient"></span>
                </div>
                <div class="details">
                    <div class="category"><a href="">Articles</a></div>
                    <a href="{{ path('showDocument', {'id':document.id}) }}"><h5 class="card-title"></h5></a>

                    <span class="new-date">
                        Auteur(s) :
                              {% set authors = document.author %}
                        {% set chaine = "" %}
                        {% for author in authors %}
                            {% set chaine = chaine ~ author.getFullName %}
                            {% set chaine = chaine ~ ', ' %}
                        {% endfor %}
                        {{ chaine }}
                    </span>
                    <time>Publié le {{ document.createdAt | date("d/m/Y")}}</time>
                </div>
            </div>
        </div>
        {% endfor %}

            <div>
                <span><a href="{{ path('show_article') }}" style="font-style: italic" >Voir tous les articles</a></span>
            </div>
        </div>

    </div>

    <hr class="featurette-divider">


    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title" style="font-style: italic">Evénements à venir...</h5>
                    </div>
                    <div class="card-body pt-0">
                        {% for event in events %}
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">
                                           {{ event.startCreatedAt | date("d/m") }}

                                       </span>

                                </div>
                                <div class="widget-49-meeting-info">

                                    <span class="widget-49-pro-title">  <a href="{{ path('showNews', {'id':event.id}) }}">{{ event.title }}</a></span>
                                </div>

                            </div>

                            <div  class="widget-49-meeting-points">
                                <span >{{ event.resume }}</span>
                            </div>
                            {% endfor %}

                            <div class="widget-49-meeting-action">
                                <a href="{{ path('show_evenement') }}" class="btn btn-sm btn-flash-border-primary"style="font-style: italic">Voir tous les événements </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





                    <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title" style="font-style: italic">Séminaires à venir...</h5>
                    </div>
                    <div class="card-body pt-0">
                        {% for seminar in seminars %}
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-warning">
                                    <span class="widget-49-date-day"> {{  seminar.startCreatedAt | date("d/m") }}</span>

                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">   <a href="{{ path('showNews', {'id':seminar.id}) }}">{{ seminar.title }}</a></span>

                                </div>
                            </div>
                            <div  class="widget-49-meeting-points">
                                <span >{{  seminar.resume }}</span>
                            </div>
                            {% endfor %}

                            <div class="widget-49-meeting-action">
                                <a href="{{ path('show_seminaire') }}" class="btn btn-sm btn-flash-border-primary" style="font-style: italic">Voir tous les séminaires </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    #}

    <main>
                    {# Caroussel #}

        <div id="myCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">

            <!--
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
        -->

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-1.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>Capensis - Solution LINUX</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-2.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>CHRU - Hôpitaux de Tours</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-3.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>La Ligue contre le cancer</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-4.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-5.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-6.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-7.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#FFF"/></svg>

                    <div class="">
                        <div class="carousel-caption text-start carousel-responsive justify-content-center">

                            <div class="col-lg-5">
                                <div class="partenaire-img">
                                    <img class="img-resize" src="{{ asset('assets/img/partenaire-8.jpg') }}">
                                </div>
                            </div>

                            <div class="col-lg-7 partenaire-txt">
                                <h4 class="partenaire-title">Nos partenaires</h4>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="link" href="#">Découvrir</a></p>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

                {# Le text de la home page #}

        <div class="container pb-4 pt-4">

            <div class="row gx-5">

                <div class="col-lg-8">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="heading mb-4">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                        <div class="col-md-5">
                            <div class="about-container">
                                <img class="about" src="{{ asset('assets/img/img-test.png') }}">
                            </div>
                        </div>
                    </div>


                </div>

                <!-- NEWS
                        ================================================== -->


                <div class="col-lg-4">

                    <h3 class="pb-2 text-start text-muted">News</h3>

                    <div class="news-display">

                        <!-- NEWS -->
                        {% if news %}
                        {% set index = 0 %}
                        {% for new in news %}
                        {% set index = index + 1 %}

                        <div class="news-container">
                            <div class="news-txt">
                                <h4>New N°{{ index }}</h4>
                                <p><a href="{{ path('showNews', {'id':new.id}) }}">{{ new.title }}</a></p>

                                <a href="{{ path('show_nouvelle') }}">Voir toutes les News</a>
                                <time style="padding-top: 10px">{{ "now"|date("m/d/Y") }} </time>
                            </div>
                             <div class="news-img">
                                <img class="img-custom" src="{{ asset('assets/img/article-1.jpg') }}">
                            </div >
                            {# <div class="news-img">
                                <img class="img-custom" src="{{ asset('/uploads/news-fond.jpg')}}"  alt="{{ new.title }}">
                            </div> #}

                        </div>
                            {% endfor %}
                            {% else %}
                                <p>Aucune Nouvelle !</p>
                            {% endif %}

                    </div>
                        <!-- END NEWS -->

                    </div>

                </div>

            </div>

        </div>


        <hr class="featurette-divider">


        <!-- ARTICLES
        ================================================== -->

        <div class="container marketing">

            <!-- Three columns of text -->
            <div class="row gx-5">

                <!--Article-->
                {% for document in documents %}
                <div class="col-lg-4">

                    <div class=" article">

                       {#  <a href="{{ path('showDocument', {'id':document.id}) }}">
                            <img class="img-crop" src="{{ asset('/uploads/font.jpg')}}"  alt="{{ document.title }}" >
                        </a> #}
                         <div class="img-container">
                            <img class="img-crop" src="{{ asset('assets/img/article-1.jpg') }}">
                        </div>
                        <a href="{{ path('showDocument', {'id':document.id}) }}"><h5 class="card-title"></h5></a>
                        <h2> {{ document.title }}</h2>
                        <p class="content-article"> Auteur(s) :
                            {% set authors = document.author %}
                            {% set chaine = "" %}
                            {% for author in authors %}
                                {% set chaine = chaine ~ author.getFullName %}
                                {% set chaine = chaine ~ ', ' %}
                            {% endfor %}
                            {{ chaine }}</p>
                        <p><a class="btn btn-outline-secondary" href="{{ path('showDocument', {'id':document.id}) }}">Lire l'article</a></p>


                    </div>

                </div>
                {% endfor %}
                <div>
                    <span><a href="{{ path('show_article') }}" style="font-style: italic" >Voir tous les articles</a></span>
                </div>
                <!--End Article-->


            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette gx-5">
                {% for event in events %}
                <div class="col-lg-6 event">
                    <h2 class="heading"><span>Evénements</span></h2>
                    <div class="widget-49-date-primary">
                        <span class="widget-49-date-day">Du {{ event.startCreatedAt | date("d/m/y") }} au {{ event.endCreatedAt | date("d/m/y") }}</span>
                    </div>
                    <div class="widget-49-meeting-info">
                        <span class="widget-49-pro-title">
                            <a href="{{ path('showNews', {'id':event.id}) }}">{{ event.title }}</a>
                        </span>
                    </div>
                    <p class="lead">{{ event.resume }}</p>
                    <a href="{{ path('show_evenement') }}">Voir tous les événements</a>
                </div>
                {% endfor %}

                {% for seminar in seminars %}
                <div class="col-lg-6  event side-separator">
                    <h2 class="heading">Séminaires </h2>
                    <div class="widget-49-date-primary">
                            <span class="widget-49-date-day"> Du {{  seminar.startCreatedAt | date("d/m/y") }} au {{  seminar.endCreatedAt | date("d/m/y") }}</span>
                    </div>

                            <span class="widget-49-pro-title">   <a href="{{ path('showNews', {'id':seminar.id}) }}">{{ seminar.title }}</a></span>

                    <p class="lead">{{  seminar.resume }}</p>
                    <a href="{{ path('show_seminaire') }}">Voir tous les séminaires</a>
                </div>
                {% endfor %}
            </div>

            <!-- Alternate design
                <hr class="featurette-divider">

                <div class="row featurette">
                  <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                  </div>
                  <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                  </div>
                </div>
            -->
            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        {#
        <footer class="container">
          <p class="float-end"><a href="#">Back to top</a></p>
          <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
        #}
    </main>





{% endblock %}
