{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
<h1>Ici vous êtes sur la page d'accueil</h1>
    <!--Affichage des articles sur le page d'accueil-->

    {% for message in app.flashes('confirm') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
{#
    <div class="container">

        <div class="row">
            <div>
                <h2>Description</h2>
            </div>
        </div>
        <div class="row">
            <h2>Articles</h2>
        </div>
        <div class="row">
            <h2>Nouvelles</h2>
        </div>
        <div class="row">
            <h2>Evènements</h2>
        </div>
        <div class="row">

        </div>
    </div>

#}



    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for document in documents %}
                    <div class="card col-md-4" style="width: 18rem;">

                        <img class="card-img-top" src="/uploads/{{ document.picture }}" alt="{{ document.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ document.title }}</h5>
                            <p class="date">Publié le {{ document.createdAt | date("d/m/Y")}}</p>

                            Auteurs :

{#
                            {% if document.startCreatedAt and document.endCreatedAt %}
                              <p class="date"> Du {{ document.startCreatedAt | date("d/m/Y") }}
                                  Au {{ document.endCreatedAt | date("d/m/Y") }} </p>
                            {% endif %}
#}
                            <a href="{{ path('showDocument', {'id':document.id}) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}

                {% for new in news %}
                    <div class="card col-md-4" style="width: 18rem;">

                       {#  <img class="card-img-top" src="/uploads/{{ new.picture }}" alt="{{ new.title }}">#}
                        <div class="card-body">
                            <h5 class="card-title">{{ new.title }}</h5>
                            <p class="date">Publié le {{ new.createdAt | date("d/m/Y")}}</p>

                            Auteurs :

                            {% if new.startCreatedAt and new.endCreatedAt %}
                              <p class="date"> Du {{ new.startCreatedAt | date("d/m/Y") }}
                                  Au {{ new.endCreatedAt | date("d/m/Y") }} </p>
                            {% endif %}

                            <a href="{{ path('showNews', {'id':new.id}) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <!--Affichage des catégories -->
        <div class="col-md-4">
            <h2>Documents</h2>

            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ path('show_documenttype', {'id':category.id}) }}">

                     {{ category.name }}

                    <span class="badge bg-primary rounded-pill">{{ pluralize(category.documenttypes | length, 'document')}}</span>
                    </a>
                </li>
                {% endfor %}

            </ul>

            <h2>News</h2>

            <ul class="list-group">
                {% for cat in categoryNews %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('show_newstype', {'id':cat.id}) }}">

                            {{ cat.name }}

                            <span class="badge bg-primary rounded-pill">{{ pluralize(cat.newstypes | length, 'news')}}</span>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>

    </div>

{% endblock %}
