{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    <div class="register">
        <div class="container">
            <div class="heading">
                <h3>Créer un compte</h3>
            </div>
            <div class="message-flash">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
            </div>

            {{ form_start(registrationForm) }}
            <div class="form-user">
                <div> {{ form_row(registrationForm.firstname) }}</div>
                <div>{{ form_row(registrationForm.lastname) }}</div>
            </div>

            <div class="form-email">
                {{ form_row(registrationForm.email) }}
            </div>

            <div class="form-password">
                {{ form_row(registrationForm.plainPassword)}}
            </div>

            <div class="form-phone">
                {{ form_row(registrationForm.phone)}}
            </div>

            <div class="form-research">
                {{ form_row(registrationForm.fieldOfResearch)}}
            </div>

            <div class="form-partner">
                {{ form_row(registrationForm.partners)}}
            </div>

            <div class="checkbox-studylevel">
                {{ form_row(registrationForm.studylevel) }}
            </div>

            <div class="checkbox-website">
                {{ form_row(registrationForm.webSite) }}
            </div>

            <div class="checkbox-imageFile">
                {{ form_row(registrationForm.imageFile) }}
            </div>

            <div class="register-submit">
                <button type="submit" class="btn btn-info" name="register">Inscrire</button>
            </div>
            {{ form_end(registrationForm) }}

            <!--<div class="different_login">

            </div>-->

            <div class="form-note text-center">Vous êtes Membre ? <a href="{{ path('app_login') }}">Connexion</a></div>

        </div>
    </div>
{% endblock %}
