{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h1 class="title p-1">{{ news.title }}</h1>

    <div class="img-fluid">
        <img width="100%" src="/uploads/{{ news.picture }}" alt="{{ news.title }}"/>
    </div>

   <div class="content">
       <h2 class="title">{{ news.title }}</h2>
       <p class="content text-justify">
           {{ news.resume | raw}}
       </p>
       <p class="date">Publié le {{ news.createdAt | date("d/m/Y")}} </p>
           Auteurs :
       <p>
       {% if news.brochureFilename %}
       <div class="img-fluid">
           <a href="{{ asset('uploads/' ~ news.brochureFilename) }}">Télécharger le document (PDF)</a>

       </div>
        {% endif %}
       </p>

   </div>
</div>
{% endblock %}
