{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <h1 class="title p-1">{{ document.title }}</h1>
    <div class="img-fluid">
        <img width="100%" src="{{ document.picture }}" alt="{{ document.title }}"/>
    </div>
   <div class="content">
       <h2 class="title">{{ document.title }}</h2>
       <p class="content text-justify">
           {{ document.resume | raw}}
       </p>
       <p class="date">Publié le {{ document.createdAt | date("d/m/Y")}} </p>
           Auteurs :
       <p>
           {% for document in document %}
                {{ document.author }}
           {% endfor %}
       </p>

   </div>
</div>
{% endblock %}
